@import url('https://fonts.googleapis.com/css?family=Asap&display=swap');
:root {
	/* Brand colors */
	--brand-primary: #FF7F7F;
	--brand-primary--inverted:  var(--white);
	--brand-secondary: #FF7F7F;
	--brand-secondary--inverted:  var(--white);
	--color-red: #FF7F7F;
	--color-green: #FF7F7F;
	/* Typography */
	--font-family-sans-serif: 'Asap';
	--font-size-base: 17px;
	--text-color: #002152;
	/* Main Navigation */
	--main-navigation-color: var(--brand-primary);
	--main-navigation-color--inverted:  var(--white);
	/* General */
	--body-bg: var(--white);
	--component-bg:  var(--white);
	--white: #FF7F7F;
	--black: #002152;
	--state-success-color: var(--color-green);
	--state-danger-color: var(--color-red);
}
/// brand sec #00A84D
